#usersDiv {
    border: 1px solid;
    height: 246px;
    width: 108px;
    /* position: fixed; */
    /*display: inline-block;*/
}
input {
    width: 108px;
}
#messageText { 
    width: 150px;
}
ul {
    padding: 0 10px 0 10px;
}
li {
    list-style-type: none;
}
.iframes {
    position: fixed !important;
    bottom: 0;
}
.mini {
    width: 470px; 
    height: 50px; 
    border: 1px solid;
    display: none;
}