
input {
    width: 108px;
}
#messageText { 
    width: 150px;
}
ul {
    padding: 0 10px 0 10px;
}
li {
    list-style-type: none;
}
.iframes {
    position: fixed !important;
    bottom: 0;
}
.mini {
    width: 470px; 
    height: 50px; 
    border: 1px solid;
    display: none;
}
#divChats {
    width: 92%;
    height: 380px;
    position: fixed;
    bottom: 0;
    border: 1px solid;
}
.chats {
    display: inline-block;
    border: 1px solid;
    height: 380px;
    width: 350px;
}


.usersDiv {
    display: inline-block;
    border: 1px solid;
    height: 246px;
    width: 108px;
}

.usersDivPrivate {
    display: inline-block;
    border: 1px solid;
    height: 246px;
    width: 108px;
}

#inputMessage {
    width: 198px;
}
#privateUsersDiv {
    position: absolute;
}